

<div class="card">
    <h5 class="card-header">Currencies {{ (Currencies) ? '' : ' - Please select a country' }}</h5>
    <div class="card-body p-0">
        
        <table class="table table-striped mb-0">
            <thead>
                <tr>
                    <th style="width: 33.33%" scope="col">Code</th>
                    <th style="width: 33.33%" scope="col">Name</th>
                    <th style="width: 33.33%" scope="col">Symbol</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let currency of currencies">
                    <th style="width: 33.33%" scope="row">{{ currency.code }}</th>
                    <td style="width: 33.33%"> {{ currency.name }} </td>
                    <td style="width: 33.33%"> {{ currency.symbol }} </td>
                </tr>
            </tbody>
        </table>


    </div>
</div>